@model CategoryVM

<head>
    <title>@if (Model.SubCategoryName != null) { @Model.SubCategoryName } else { @Model.CategoryName } | Победа</title>
    <link rel="stylesheet" href="~/css/category.css" />
</head>
<div class="main-wrapper category-page">
    <section class="j-container">
        <div class="breadcrumbs">
            <span>
                <a href="/" class="breadcrumbs-crumb breadcrumbs-crumb-previus" title="Комиссионный магазин «Победа»">
                    <span itemprop="name">Главная</span>
                    <meta itemprop="position" content="1">
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span>
                <a href="/catalog/" class="breadcrumbs-crumb breadcrumbs-crumb-previus" title="Каталог товаров б/у">
                    <span itemprop="name">Каталог</span>
                    <meta itemprop="position" content="2">
                </a>
            </span>
            @if (Model.SubCategoryName != null)
            {
                <i class="ui-icon ui-icon-arrow-angleright"></i>
                <span class="breadcrumbs-crumb breadcrumbs-crumb-previus" title="Купить @Model.CategoryName б/у | Победа">
                    <a href="/catalog/@Model.TranslitCategoryName">
                        <span itemprop="name">@Model.CategoryName</span>
                        <meta itemprop="position" content="3">
                    </a>
                </span>
                <i class="ui-icon ui-icon-arrow-angleright"></i>
                <span class="breadcrumbs-crumb breadcrumbs-crumb-current" title="Купить @Model.SubCategoryName б/у | Победа">
                    <span>
                        <span itemprop="name">@Model.SubCategoryName</span>
                        <meta itemprop="position" content="4">
                    </span>
                </span>
            }
            else
            {
                <i class="ui-icon ui-icon-arrow-angleright"></i>
                <span class="breadcrumbs-crumb breadcrumbs-crumb-current" title="Купить телефоны б/у | Победа">
                    <span>
                        <span itemprop="name">@Model.CategoryName</span>
                        <meta itemprop="position" content="3">
                    </span>
                </span>
            }
        </div>
    </section>

    <section class="j-container filter with-fast">
        <div class="filter-header">
            <div class="filter-header--title">
                <h1>
                    @if (Model.SubCategoryName != null)
                    {
                        @Model.SubCategoryName
                    }
                    else
                    {
                        @Model.CategoryName
                    }
                </h1>
                <div class="filter-header--count">
                    Всего @Model?.Products?.Count()
                </div>
            </div>
        </div>

        @if (Model?.FilterItems != null)
        {
            <div class="filter-quick">
                <div class="swiper-container filter-quick--container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                    <div class="swiper-wrapper filter-quick--wrapper" style="transform: translate3d(0px, 0px, 0px);">
                        @foreach (var filterItem in Model.FilterItems)
                        {
                            <a class="swiper-slide filter-quick--item" href="@filterItem.Href">@filterItem.Name</a>
                        }
                    </div>
                </div>
            </div>
        }

      @*<script>
        window.cat = "telefony";
        </script> *@

        <div class="filter-banner-top">
            <picture>
                <source srcset="@Model?.BannerImageUrl">
                <img src="" lazy-load="loaded">
            </picture>
        </div>

        <div class="filter-desktop">
            <form asp-controller="Catalog" asp-action="Category" method="post">
                <div class="filter-components" data-mount="">
                    <div style="order: 4; transition: none 0s ease 0s;" class="filter-component" data-name="Состояние" data-type="multiple" data-render="" data-mount="">
                        <div class="filter-component--title" data-toggle="">
                            <span>Состояние</span>
                            <i class="ui-icon-arrow-angletop"></i>
                        </div>
                        <div class="filter-component--wrapper">
                            @foreach (var checkbox in Model?.CheckBoxes)
                            {
                                <div class="j-checkbox" title="@checkbox.Description">
                                    <input class="j-checkbox-input"
                                           type="checkbox"
                                           value="@checkbox.Value"
                                           name="State"
                                           id="checkbox_@checkbox.Value"
                                           checked="@checkbox.IsChecked" />
                                        <div class="j-checkbox-label j-checkbox-wrapper" for="checkbox_@checkbox.Value">@checkbox.Description</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="filter-actions">
                    <button class="filter-action filter-action--apply j-button main" type="submit">
                        Применить фильтры
                    </button>
                    @* <button class="filter-action filter-action--reset" type="submit">
                        Сбросить фильтры
                    </button> *@
                </div>
            </form>
        </div>

        <div class="filter-content">
            @if (Model.Products != null)
            {
                <div class="filter-grid">
                    @foreach (var product in Model.Products)
                    {
                        <div class="card is-lazy">
                            <div class="card-wrapper">
                                <div class="card-labels">
                                    <div class="card-label">@product.Tags?.First().Name</div>
                                </div>
                                <div class="card-images">
                                    <a class="card-images-wrapper" href="/catalog/@Model.TranslitCategoryName/@product.SubCategory.TranslitName/@product.TranslitName/" rel="noreferrer" title="@product.Name" target="_blank">
                                        <div class="card-images-desktop is-active">
                                            <div class="card-images-overlay"></div>
                                            <div class="card-images-img">
                                                <img alt="Купить @product.Name б/у в @product.City. Цена 15999 рублей" data-img-load="load" data-img-load-stack="1" width="197" itemprop="image" src="@product.ImageUrl">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <div class="card-prices">
                                        <div class="card-price">
                                            @product.Price.ToString("C0")
                                        </div>
                                    </div>
                                    <a class="card-title" href="/catalog/@Model.TranslitCategoryName/@product.SubCategory.TranslitName/@product.TranslitName/" rel="noreferrer" title="Купить @product.Name б/у в @product.City. Цена 15999 рублей" target="_blank">
                                        @product.Name
                                    </a>
                                </div>
                                <div class="card-bottom">
                                    <div class="card-city">@product.City</div>
                                    <a class="card-action-more" href="/catalog/@Model.TranslitCategoryName/@product.SubCategory.TranslitName/@product.TranslitName/" title="Купить @product.Name б/у в @product.City. Цена 15999 рублей" target="_blank">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </section>
</div>
<script src="~/js/category.js"></script>