@model ProductVM

<head>
    <title>Купить @Model.Product.Name в @Model.Product.City | Победа</title>
    <link rel="stylesheet" href="~/css/product.css" />
</head>
<div class="main-wrapper product-page">
    <section class="j-container">
        <div class="breadcrumbs">
            <span>
                <a class="breadcrumbs-crumb breadcrumbs-crumb-previus" href="/">
                    <span>Главная</span>
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span>
                <a class="breadcrumbs-crumb breadcrumbs-crumb-previus" href="/catalog/">
                    <span>Каталог</span>
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span>
                <a class="breadcrumbs-crumb breadcrumbs-crumb-previus" href="/catalog/@Model.Product.SubCategory.Category.TranslitName/">
                    <span>@Model.Product.SubCategory.Category.Name</span>
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span>
                <a class="breadcrumbs-crumb breadcrumbs-crumb-previus" href="/catalog/@Model.Product.SubCategory.Category.TranslitName/@Model.Product.SubCategory.TranslitName/">
                    <span>@Model.Product.SubCategory.Name</span>
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span class="breadcrumbs-crumb breadcrumbs-crumb-current">
                <span>
                    <span>@Model.Product.Name</span>
                </span>
            </span>
        </div>
    </section>
    <div class="p-header">
        <div class="j-container">
            <h1 class="p-header--title">@Model.Product.Name</h1>
            <div class="p-header--labels">
                @foreach (var tag in Model.Product.Tags)
                {
                    <div class="p-header--label">@tag.Name</div>
                }
            </div>
        </div>
    </div>
    <div class="p-content">
        <div class="j-container">
            <div class="p-container">
                <div class="p-image">
                    <img src=@Model.Product.ImageUrl alt="" />
                </div>
                <div class="p-actions">
                    <div class="p-actions--wrapper">
                        <div class="p-actions--block price">
                            <div class="p-price current">@Model.Product.Price.ToString("C0")</div>
                        </div>
                        <div class="p-actions--block actions">
                            <button class="j-button main">
                                <a class="text" href="/cart/add-product-to-cart/@Model.Product.Id">Купить</a>
                            </button>

                            <button class="j-button transparent p-actions--action favorite">
                                <i class="ui-icon ui-icon-likeactive"></i>
                                <i class="ui-icon ui-icon-like"></i>
                                Избранное
                            </button>
                        </div>

                        <div class="p-info">
                            <div class="p-info--block delivery">
                                <div class="p-info--block-title">
                                    <i class="ui-icon ui-icon-delivery"></i>
                                    <span class="text">Доставка</span>
                                </div>
                                <div class="p-info--block-text">
                                    <div class="p-delivery-change">Выбрать город</div>
                                </div>
                                <div class="p-info--block-text">
                                    Доставка курьером:
                                    <strong>от 1 дня</strong>
                                </div>
                                <div class="p-info--block-text">
                                    Пункты выдачи СДЭК:
                                    <strong>от 1 дня</strong>
                                </div>
                            </div>
                            <div class="p-info--block credit">
                                <div class="p-info--block-title">
                                    <i class="ui-icon ui-icon-credit"></i>
                                    <span class="text">Рассрочка и кредит</span>
                                </div>
                                <div class="p-info--block-text">
                                    Рассрочка <strong>--- </strong><strong style="margin-right: 4px; white-space: initial">в месяц.</strong>
                                </div>
                                <div class="p-info--block-text">
                                    Онлайн подтверждение заявки за 2 минуты.
                                </div>
                            </div>

                            <div class="p-info--block how-delivery">
                                <div class="p-actions--block delivery">
                                    <span class="text">Как работает доставка?</span>
                                </div>
                            </div>
                            <div class="p-info--block phone">
                                <a>8 800 500 55 13</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-description">
        <div class="j-container">
            <div class="j-tabs" data-theme="product">
                <div class="j-tabs-list">
                    <div class="j-tab data-active">Описание</div>
                </div>
                <div class="j-tab-content" data-tab="description" data-active="">
                    <div class="p-description--list">
                        <div class="p-description--item">
                            <div class="p-description--item-title">
                                Краткие характеристики
                            </div>
                            <div class="p-description--item-content">
                                @foreach (var characteristic in Model.Product.Characteristics)
                                {
                                    <div class="p-description--item-row">
                                        <div class="p-description--item-name">@characteristic.Key</div>
                                        <div class="p-description--item-value">@characteristic.Value</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="p-description--item offer">
                        <div class="p-description--item-title">
                            Купить @Model.Product.Name в @Model.Product.City
                        </div>
                        <div class="p-description--text">
                            Продажа @Model.Product.Name по выгодной цене. Стоимость товара в
                            @Model.Product.City можно уточнить у консультанта нашего
                            интернет-магазина.
                        </div>
                    </div>
                    <div class="p-description--item description">
                        <div class="p-description--item-title">Описание</div>
                        <div class="j-collapse">
                            <div class="j-collapse-wrapper"
                                 style="
                        max-height: 268px;
                        transition: all 300ms ease-in-out 0s;
                      ">
                                <div class="p-description--text description">
                                    @Model.Product.Description
                                    <br />
                                </div>
                            </div>
                            <div class="j-collapse-button"></div>
                        </div>
                        <div class="p-description--text check">
                            Проверяйте товар на работоспособность при получении, в
                            пункте выдачи. При оформлении заказа, укажите все
                            интересующие Вас моменты, которые необходимо будет отразить
                            в видеообзоре.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-selection">
        <div class="j-container">
            <div class="main-widget-wrapper">
                <div class="widget-title">Популярные товары</div>
                <div class="widget-grid">
                    @foreach (var product in Model.PopularProducts)
                    {
                        <div class="widget-grid-item">
                            <div class="card">
                                <div class="card-images">
                                    <a class="card-images-wrapper" href="/catalog/@product.SubCategory.Category.TranslitName/@product.SubCategory.TranslitName/@product.TranslitName/"
                                       title="@product.Name">
                                        <div class="card-images-desktop">
                                            <div class="card-images-overlay"></div>
                                            <div class="card-images-img">
                                                <img src=@product.ImageUrl />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <div class="card-prices">
                                        <div class="card-price">
                                            @product.Price.ToString("C0")
                                        </div>
                                    </div>
                                    <a class="card-title" href="/catalog/@product.SubCategory.Category.TranslitName/@product.SubCategory.TranslitName/@product.TranslitName/"
                                       title="Купить @product.Name в @product.City. Цена @product.Price рублей">@product.Name</a>
                                </div>
                                <div class="card-bottom">
                                    <div class="card-city">@product.City</div>
                                    <div class="card-action-more"
                                         title="Купить @product.Name в @product.City. Цена @product.Price рублей">
                                        <a href="/catalog/@product.SubCategory.Category.TranslitName/@product.SubCategory.TranslitName/@product.TranslitName/">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="p-interactive">
        <div class="j-container">
            <div class="main-buy-wrapper">
                <div class="interactive-buy">
                    <div class="interactive-buy--content">
                        <div class="interactive-buy--header">
                            Как покупать в Победа 63
                        </div>
                        <div class="interactive-buy--label">
                            Покупать с Победой<i data-display="inline"
                                                 data-sm="block"></i>
                            легко и выгодно!!
                        </div>
                        <div class="interactive-buy--actions">
                            <button class="interactive-buy--action">
                                Подробнее
                            </button>
                        </div>
                    </div>
                    <div class="interactive-buy--images">
                        <picture data-image="vector-blue">
                            <img src="~/img/buy-vector-blue.svg" />
                        </picture>
                        <picture data-image="phone">
                            <img src="~/img/buy-phone.png" />
                        </picture>
                        <picture data-image="page">
                            <img src="~/img/buy-page.png" />
                        </picture>
                        <picture data-image="vector-red">
                            <img src="~/img/buy-vector-red.svg" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/product.js"></script>
}