@model Product

<head>
    <title>@Model.Name | Победа</title>
    <link rel="stylesheet" href="~/css/product.css" />
</head>
<div class="main-wrapper product-page">
    <section class="j-container">
        <div class="breadcrumbs">
            <span>
                <a class="breadcrumbs-crumb breadcrumbs-crumb-previus" asp-controller="Main" asp-action="Index">
                    <span>Главная</span>
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span>
                <a class="breadcrumbs-crumb breadcrumbs-crumb-previus">
                    <span>Каталог</span>
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span>
                <a class="breadcrumbs-crumb breadcrumbs-crumb-previus">
                    <span>@Model.SubCategory.Category.Name</span>
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span>
                <a>
                    <span>@Model.SubCategory.Name</span>
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span class="breadcrumbs-crumb breadcrumbs-crumb-current">
                <span>
                    <span>@Model.Name</span>
                </span>
            </span>
        </div>
    </section>
    <div class="p-header">
        <div class="j-container">
            <h1 class="p-header--title">@Model.Name</h1>
            <div class="p-header--labels">
                @foreach(var tag in Model.Tags)
                {
                    <div class="p-header--label">@tag.Name</div>
                }
            </div>
        </div>
    </div>
    <div class="p-content">
        <div class="j-container">
            <div class="p-container">
                <div class="p-image">
                    <img src=@Model.ImageUrl alt="" />
                </div>
                <div class="p-actions">
                    <div class="p-actions--wrapper">
                        <div class="p-actions--block price">
                            <div class="p-price current">@Model.Price.ToString("C0")</div>
                        </div>
                        <div class="p-actions--block actions">
                            <button class="j-button main p-actions--action pay"
                                    id="button-pay">
                                <div class="text" id="button-pay-text">Купить</div>
                            </button>

                            <button class="j-button transparent p-actions--action favorite">
                                <i class="ui-icon ui-icon-likeactive"></i>
                                <i class="ui-icon ui-icon-like"></i>
                                Избранное
                            </button>
                        </div>

                        <div class="p-info">
                            <div class="p-info--block delivery">
                                <div class="p-info--block-title">
                                    <i class="ui-icon ui-icon-delivery"></i>
                                    <span class="text">Доставка</span>
                                </div>
                                <div class="p-info--block-text">
                                    <div class="p-delivery-change">Выбрать город</div>
                                </div>
                                <div class="p-info--block-text">
                                    Доставка курьером:
                                    <strong>от 1 дня</strong>
                                </div>
                                <div class="p-info--block-text">
                                    Пункты выдачи СДЭК:
                                    <strong>от 1 дня</strong>
                                </div>
                            </div>
                            <div class="p-info--block credit">
                                <div class="p-info--block-title">
                                    <i class="ui-icon ui-icon-credit"></i>
                                    <span class="text">Рассрочка и кредит</span>
                                </div>
                                <div class="p-info--block-text">
                                    Рассрочка <strong>--- </strong><strong style="margin-right: 4px; white-space: initial">в месяц.</strong>
                                </div>
                                <div class="p-info--block-text">
                                    Онлайн подтверждение заявки за 2 минуты.
                                </div>
                            </div>

                            <div class="p-info--block how-delivery">
                                <div class="p-actions--block delivery">
                                    <span class="text">Как работает доставка?</span>
                                </div>
                            </div>
                            <div class="p-info--block phone">
                                <a>8 800 500 55 13</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-description">
        <div class="j-container">
            <div class="j-tabs" data-theme="product">
                <div class="j-tabs-list">
                    <div class="j-tab data-active">Описание</div>
                </div>
                <div class="j-tab-content" data-tab="description" data-active="">
                    <div class="p-description--list">
                        <div class="p-description--item">
                            <div class="p-description--item-title">
                                Краткие характеристики
                            </div>
                            <div class="p-description--item-content">
                                @foreach (var characteristic in Model.Characteristics)
                                {
                                    <div class="p-description--item-row">
                                        <div class="p-description--item-name">@characteristic.Key</div>
                                        <div class="p-description--item-value">@characteristic.Value</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="p-description--item offer">
                        <div class="p-description--item-title">
                            Купить @Model.Name в @Model.City
                        </div>
                        <div class="p-description--text">
                            Продажа @Model.Name по выгодной цене. Стоимость товара в
                            @Model.City можно уточнить у консультанта нашего
                            интернет-магазина.
                        </div>
                    </div>
                    <div class="p-description--item description">
                        <div class="p-description--item-title">Описание</div>
                        <div class="j-collapse">
                            <div class="j-collapse-wrapper"
                                 style="
                        max-height: 268px;
                        transition: all 300ms ease-in-out 0s;
                      ">
                                <div class="p-description--text description">
                                    @Model.Description
                                    <br />
                                </div>
                            </div>
                            <div class="j-collapse-button"></div>
                        </div>
                        <div class="p-description--text check">
                            Проверяйте товар на работоспособность при получении, в
                            пункте выдачи. При оформлении заказа, укажите все
                            интересующие Вас моменты, которые необходимо будет отразить
                            в видеообзоре.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-selection">
        <div class="j-container">
            <div class="main-widget-wrapper">
                <div class="widget-title">Популярные товары</div>
                <div class="widget-grid">
                    @for (int i = 0; i < 6; i++)
                    {
                        <div class="widget-grid-item">
                            <div class="card">
                                <div class="card-images">
                                    <a class="card-images-wrapper" asp-controller="Product" asp-action="Index"
                                       rel="noreferrer"
                                       title="Системный блок черный">
                                        <div class="card-images-desktop is-active">
                                            <div class="card-images-overlay"></div>
                                            <div class="card-images-img">
                                                <img alt="Купить Системный блок черный б/у в Самаре. Цена 59000 рублей"
                                                     src="~/img/product_photo_1.webp" />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <div class="card-prices">
                                        <div class="card-price">
                                            59 000 <span class="rub">рублей</span>
                                        </div>
                                    </div>
                                    <a class="card-title" asp-controller="Product" asp-action="Index"
                                       rel="noreferrer"
                                       title="Купить Системный блок черный б/у в Самаре. Цена 59000 рублей">Системный блок черный</a>
                                </div>
                                <div class="card-bottom">
                                    <div class="card-city">Самара</div>
                                    <div class="card-action-more"
                                         title="Купить Системный блок черный б/у в Самаре. Цена 59000 рублей">
                                        <a asp-controller="Product" asp-action="Index">Подробнее</a>
                                        <i class="ui-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="p-interactive">
        <div class="j-container">
            <div class="main-buy-wrapper">
                <div class="interactive-buy">
                    <div class="interactive-buy--content">
                        <div class="interactive-buy--header">
                            Как покупать в Победа 63
                        </div>
                        <div class="interactive-buy--label">
                            Покупать с Победой<i data-display="inline"
                                                 data-sm="block"></i>
                            легко и выгодно!!
                        </div>
                        <div class="interactive-buy--actions">
                            <button class="interactive-buy--action">
                                Подробнее
                            </button>
                        </div>
                    </div>
                    <div class="interactive-buy--images">
                        <picture data-image="vector-blue">
                            <img src="~/img/buy-vector-blue.svg" />
                        </picture>
                        <picture data-image="phone">
                            <img src="~/img/buy-phone.png" />
                        </picture>
                        <picture data-image="page">
                            <img src="~/img/buy-page.png" />
                        </picture>
                        <picture data-image="vector-red">
                            <img src="~/img/buy-vector-red.svg" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/product.js"></script>
}